:root {
  --background-primary : #0b1116;
  --background-secondary : #0b1116;
  --background-secondary-alt : #1f252a;
  --background-tertiary : #0b1116;
  --background-floating : #1f252a;
  --header-primary : #d5d5d5;

  --interactive-normal : #d5d5d5;
  --interactive-hover : #ffffff;
  --interactive-active : #ffffff;
  --interactive-muted : #d5d5d5;

  --text-normal : #d5d5d5;
  --text-link : #80d1ff;
  --text-muted : #d5d5d5;

  --channeltextarea-background : #0b1116;

  --text-warning : #ff8080;

  --brand-experiment : #1f252a !important;
}

.container-1D34oG > div {
  background-color : var(--background-primary);
}

.item-3HknzM[aria-label~=Add] {
  background-color : #1f252a !important;
}

.sidebar-2K8pFh {
  width : 0;
  transition : width 0.5s;
}

.guilds-1SWlCJ:hover + .base-3dtUhz .sidebar-2K8pFh,
.sidebar-2K8pFh:hover,
.guilds-1SWlCJ:focus-within + .base-3dtUhz .sidebar-2K8pFh,
.sidebar-2K8pFh:focus-within {
  width : 240px !important;
}

.membersWrap-2h-GB4 {
  min-width : 0;
}

.panels-j1ci_ {
  border-radius: 0 15px 0 0;
}

.root-1gCeng,
.footer-2gL1pp {
  background-color: var(--background-primary) !important;
}
